div#ilpMainNav
	nav.navbar.navbar-dark.bg-inverse(role="navigation")
		a.navbar-brand()  
			img#logo(alt="brand" src='assets/nsf_logo_color.png')
		ul.nav.navbar-nav
			li.nav-item( )
				a.nav-link.selected( ) Dashboard
			li.nav-item( )
				a.nav-link( ) School Years
			li.nav-item.disabled( )
				a.nav-link( ) Stuff
			li.nav-item
				a.nav-link(href="https://docs.google.com/forms/d/1J75mNObL_YEUMqMn0yRIiGbwjCKfAgfoGI1tv4eQ3RM/viewform" target="_blank")  Problem?
