<nav id="ilpMainNav" role="navigation" class="navbar navbar-dark bg-inverse">
    <ul class="nav navbar-nav">
        <li class="nav-item" ui-sref-active='active'>
            <a ui-sref="home" class="navbar-brand"> <img id="logo" alt="brand" src="assets/images/nsf_logo_color.png" /> </a>
        </li>
        <li class="nav-item" ui-sref-active='active'>
            <a  ui-sref="ilp" class="nav-link">ILP</a>
        </li>
        <li class="nav-item" ui-sref-active='active'>
            <a ui-sref="feed" class="nav-link">Feed</a>
        </li>
        <li class="nav-item" ui-sref-active='active'>
            <a href="https://docs.google.com/forms/d/1J75mNObL_YEUMqMn0yRIiGbwjCKfAgfoGI1tv4eQ3RM/viewform" target="_blank" >Feedback?</a>
        </li>
    </ul>
    <ul id="loggedin" class="nav navbar-nav navbar-right">
        <li class="nav-item user dropdown">
            <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ui-sref="logout" class="dropdown-toggle"><img /><span class="username">&nbsp; {{ vm.user.name }} 
			<ul class="dropdown-menu">
			  <li><a ui-sref="logout">Logout</a></li>
			  <li><a>User Setup</a></li>
			</ul></span></a>
        </li>
    </ul>
</nav>
